@import "reset.css";

/* Fonts */

@font-face {
  font-family: "Big Blue Term";
  src: url("/fonts/BigBlueTermPlusNerdFontMono-Regular.ttf");
}

@font-face {
  font-family: "Gohu 11";
  src: url("/fonts/GohuFont11NFM.otf");
}

@font-face {
  font-family: "Xmas Sweater Stitch";
  src: url("/fonts/XmasSweaterStitch.otf");
}

/* Color Palette */

:root {
  --xxmas-palette-black-dark: hsl(0, 0%, 0%);
  --xxmas-palette-grey-dark: hsl(0, 0%, 28%);
  --xxmas-palette-grey-dim: hsl(0, 0%, 58%);
  --xxmas-palette-grey-medium: hsl(0, 0%, 71%);
  --xxmas-palette-grey-bright: hsl(0, 2%, 83%);
  --xxmas-palette-white-bright: hsl(0, 0%, 100%);
  --xxmas-palette-green-medium: hsl(100, 100%, 29%);
  --xxmas-palette-green-bright: hsl(124, 100%, 46%);
  --xxmas-palette-green-dark: hsl(105, 100%, 4%);
  --xxmas-palette-green-black: hsl(100, 100%, 2%);
  --xxmas-palette-red-medium: hsl(0, 100%, 47%);
  --xxmas-palette-gold-medium: hsl(52, 100%, 42%);
  --xxmas-palette-brown-medium: rgb(132, 65, 24);
}

/* Color Assignments*/

:root {
  --xxmas-background-black: var(--xxmas-palette-green-black);
  --xxmas-background-dark: var(--xxmas-palette-green-dark);
  --xxmas-border-medium: var(--xxmas-palette-grey-dark);
  --xxmas-text-dim: var(--xxmas-palette-grey-dim);
  --xxmas-text-medium: var(--xxmas-palette-grey-medium);
  --xxmas-text-bright: var(--xxmas-palette-grey-bright);
  --xxmas-text-red: var(--xxmas-palette-red-medium);
  --xxmas-text-medium: var(--xxmas-palette-grey-bright);
  --xxmas-text-bright: var(--xxmas-palette-white-bright);
  --xxmas-text-emphasis: var(--xxmas-palette-green-bright);
  --xxmas-text-link-unvisited: var(--xxmas-palette-red-medium);
  --xxmas-text-link-visited: var(--xxmas-palette-red-medium);
  --xxmas-token-unspent: var(--xxmas-palette-gold-medium);
  --xxmas-token-spent: var(--xxmas-palette-red-medium);
}

/* Elements */

html {
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    "Gohu 11",
    "Big Blue Term",
    monospace,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  font-weight: 300;
  padding: 0;
  margin: 0.5rem;
  line-height: inherit;
  background: var(--xxmas-background-dark);
  color: var(--xxmas-text-medium);
  letter-spacing: 0.15rem;
}

article {
  width: 50em;
  margin-bottom: 2em;
}

h1,
h2 {
  color: var(--xxmas-text-bright);
  font-weight: normal;
}

em {
  color: var(--xxmas-text-emphasis);
  font-style: normal;
}

a {
  color: var(--xxmas-text-link-unvisited);
  text-decoration: none;
  cursor: pointer;
}

code {
  border: 1px solid var(--xxmas-border-medium);
  background: var(--xxmas-background-black);
  font-size: 0.92rem !important;
}

/* IDs */

#sidebar {
  width: 12.5rem;
  float: right;
  margin: 1rem 2rem 2em 2em;
  position: relative;
  z-index: 10;
}

/* Util Classes */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.justifyCenter {
  justify-content: center;
}

.gap1 {
  gap: 1rem;
}

.marginTBPoint2 {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.visualHide:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (max-width: 1150px) {
  .desktopShow {
    display: none;
  }
}

/* Custom Classes */

.logo {
  font-size: 6rem;
}

.stitch {
  font-family:
    "Xmas Sweater Stitch",
    "Big Blue Term",
    monospace,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

.stitchLettering {
  font-family:
    "Gohu 11",
    "Big Blue Term",
    monospace,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

.token {
  color: var(--xxmas-token-unspent);
}

.tokenSpent {
  color: var(--xxmas-token-spent);
}

.textBright {
  color: var(--xxmas-text-bright);
}

.textMedium {
  color: var(--xxmas-text-medium);
}

.textDim {
  color: var(--xxmas-text-dim);
}

.logoGreen {
  color: var(--xxmas-palette-green-medium);
}

.logoGold {
  color: var(--xxmas-palette-gold-medium);
}

.logoWhite {
  color: var(--xxmas-palette-white-bright);
}

.logoBrown {
  color: var(--xxmas-palette-brown-medium);
}
