@import "reset.css";
@import "xmasLights.css";

/* Fonts */

@font-face {
  font-family: "Big Blue Term";
  src: url("/fonts/BigBlueTermPlusNerdFontMono-Regular.ttf");
}

@font-face {
  font-family: "Gohu 11";
  src: url("/fonts/GohuFont11NFM.otf");
}

@font-face {
  font-family: "Xmas Sweater Stitch";
  src: url("/fonts/XmasSweaterStitch.otf");
}

/* Color Palette */

:root {
  --xxmas-palette-black-dark: hsl(0, 0%, 0%);
  --xxmas-palette-grey-dark: hsl(0, 0%, 28%);
  --xxmas-palette-grey-dim: hsl(0, 0%, 36%);
  --xxmas-palette-grey-medium: hsl(0, 0%, 71%);
  --xxmas-palette-grey-bright: hsl(0, 2%, 83%);
  --xxmas-palette-white-bright: hsl(0, 0%, 100%);
  --xxmas-palette-green-medium: hsl(100, 100%, 29%);
  --xxmas-palette-green-bright: hsl(124, 100%, 39%);
  --xxmas-palette-green-dark: hsl(105, 100%, 4%);
  --xxmas-palette-green-black: hsl(100, 100%, 2%);
  --xxmas-palette-red-medium: hsl(0, 100%, 47%);
  --xxmas-palette-gold-medium: hsl(52, 100%, 42%);
  --xxmas-palette-brown-medium: rgb(132, 65, 24);
  --full-sat-blue: hsl(240, 100%, 50%);
  --full-sat-cerulean: hsl(210, 100%, 50%);
  --full-sat-cyan: hsl(180, 100%, 50%);
  --full-sat-turquoise: hsl(150, 100%, 50%);
  --full-sat-green: hsl(120, 100%, 50%);
  --full-sat-lime: hsl(90, 100%, 50%);
  --full-sat-yellow: hsl(60, 100%, 50%);
  --full-sat-orange: hsl(30, 100%, 50%);
  --full-sat-red: hsl(0, 100%, 50%);
  --full-sat-rose: hsl(330, 100%, 50%);
  --full-sat-magenta: hsl(300, 100%, 50%);
  --full-sat-purple: hsl(270, 100%, 50%);
}

/* Color Assignments*/

:root {
  --xxmas-background-black: var(--xxmas-palette-green-black);
  --xxmas-background-dark: var(--xxmas-palette-green-dark);
  --xxmas-border-medium: var(--xxmas-palette-grey-dark);
  --xxmas-text-dim: var(--xxmas-palette-grey-dim);
  --xxmas-text-medium: var(--xxmas-palette-grey-medium);
  --xxmas-text-bright: var(--xxmas-palette-grey-bright);
  --xxmas-text-red: var(--xxmas-palette-red-medium);
  --xxmas-text-medium: var(--xxmas-palette-grey-bright);
  --xxmas-text-emphasis: var(--xxmas-palette-green-bright);
  --xxmas-text-link-unvisited: var(--xxmas-palette-red-medium);
  --xxmas-text-link-visited: var(--xxmas-palette-red-medium);
  --xxmas-token-unspent: var(--xxmas-palette-gold-medium);
  --xxmas-token-spent: var(--xxmas-palette-red-medium);
}

/* Elements */

html {
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    "Gohu 11",
    "Big Blue Term",
    monospace,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  font-weight: 300;
  padding: 0;
  margin: 0.5rem;
  line-height: inherit;
  background-color: var(--xxmas-background-dark);
  background-image: url("/patterns/subtle-dark-vertical.png");
  color: var(--xxmas-text-medium);
  letter-spacing: 0.15rem;
}

article {
  width: 50em;
  margin-bottom: 2em;
}

h1,
h2 {
  color: var(--xxmas-text-bright);
  font-weight: normal;
}

em {
  color: var(--xxmas-text-emphasis);
  font-style: normal;
  font-weight: bold;
}

a {
  color: var(--xxmas-text-link-unvisited);
  text-decoration: none;
  cursor: pointer;
}

code {
  background: var(--xxmas-background-black);
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  font-weight: bold;
  font-family:
    "Gohu 11",
    "Big Blue Term",
    monospace,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

/* IDs */

/* Util Classes */

.bold {
  font-weight: bold;
}

.textCenter {
  text-align: center;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.justifyCenter {
  justify-content: center;
}

.gap1 {
  gap: 1rem;
}

.marginTBPoint2 {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.rotate0 {
  transform: rotate(0deg);
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate270 {
  transform: rotate(270deg);
}

.visualHide:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (max-width: 1150px) {
  .desktopShow {
    display: none;
  }
}

/* Custom Classes */

.bigHeaders h2 {
  font-size: larger;
  margin: 0.5rem;
}

.logo {
  font-size: 6rem;
}

.stitch {
  font-family:
    "Xmas Sweater Stitch",
    "Big Blue Term",
    monospace,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

.stitchLettering {
  font-family:
    "Gohu 11",
    "Big Blue Term",
    monospace,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

.token {
  color: var(--xxmas-token-unspent);
}

.tokenSpent {
  color: var(--xxmas-token-spent);
}

.textBright {
  color: var(--xxmas-text-bright);
}

.textMedium {
  color: var(--xxmas-text-medium);
}

.textDim {
  color: var(--xxmas-text-dim);
}

.textGold {
  color: var(--xxmas-palette-gold-medium);
}

.textGreen {
  color: var(--xxmas-palette-green-bright);
}

.logoGreen {
  color: var(--xxmas-palette-green-medium);
}

.logoGold {
  color: var(--xxmas-palette-gold-medium);
}

.logoRed {
  color: var(--xxmas-palette-red-medium);
}

.logoWhite {
  color: var(--xxmas-palette-white-bright);
}

.logoBrown {
  color: var(--xxmas-palette-brown-medium);
}

.fsGreen {
  color: var(--full-sat-green);
}

.fsLime {
  color: var(--full-sat-lime);
}

.fsYellow {
  color: var(--full-sat-yellow);
}

.fsOrange {
  color: var(--full-sat-orange);
}

.fsRed {
  color: var(--full-sat-red);
}

.fsRose {
  color: var(--full-sat-rose);
}

.fsMagenta {
  color: var(--full-sat-magenta);
}

.fsPurple {
  color: var(--full-sat-purple);
}

.fsBlue {
  color: var(--full-sat-blue);
}

.fsCerulean {
  color: var(--full-sat-cerulean);
}

.fsCyan {
  color: var(--full-sat-cyan);
}

.fsTurquoise {
  color: var(--full-sat-turquoise);
}
