/* Fonts */

@font-face {
  font-family: "Source Code Pro";
  src: url("/fonts/SourceCodePro-Light.ttf");
}

@font-face {
  font-family: "Source Code Xtreme";
  src: url("/fonts/SourceCodeXtreme-Regular.otf");
}

/* Colors */

:root {
  --xxmas-background-dark: hsl(240, 24%, 8%);
  --xxmas-background-dim: hsl(240, 40%, 10%);
  --xxmax-border-medium: hsl(240, 11%, 23%);
  --xxmas-text-dim: hsl(0, 0%, 80%);
  --xxmas-text-bright: hsl(0, 0%, 100%);
  --xxmas-red-text-bright: hsl(0, 100%, 48%);
  --xxmas-red-text: hsl(0, 100%, 44%);
  --xxmas-green-text: hsl(140, 99%, 29%);
  --xxmas-gold-text: hsl(63, 100%, 69%);
}

/* Elements */

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    /* "Source Code Xtreme", */
    "Source Code Pro",
    monospace,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  font-weight: 300;
  padding: 0;
  margin: 0.5rem;
  line-height: inherit;
  background: var(--xxmas-background-dim);
  color: var(--xxmas-text-dim);
}

article {
  width: 45em;
  margin-bottom: 2em;
}

h1,
h2 {
  color: var(--xxmas-text-bright);
  font-weight: normal;
}

em {
  color: var(--xxmas-text-bright);
  font-style: normal;
  text-shadow: 0 0 5px;
}

a {
  color: var(--xxmas-green-text);
  text-decoration: none;
  cursor: pointer;
}

code {
  border: 1px solid var(--xxmax-border-medium);
  background: var(--xxmas-background-dark);
}

/* Util Classes */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

/* Custom Classes */

.token {
  color: var(--xxmas-gold-text);
}

.tokenSpent {
  color: var(--xxmas-red-text);
}

.textBright {
  color: var(--xxmas-text-bright);
}

.textDim {
  color: var(--xxmas-text-dim);
}
