.xmasLight {
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  text-shadow: 0 0 1rem currentcolor;
}

.brightLight {
  text-shadow:
    0 0 0.5rem currentcolor,
    0 0 1rem currentColor,
    0 0 1rem currentColor;
}

.colorShift1 {
  animation-name: colorShift1;
}

.colorShift2 {
  animation-name: colorShift2;
}

.colorShift3 {
  animation-name: colorShift3;
}

.colorShift4 {
  animation-name: colorShift4;
}

.colorShift5 {
  animation-name: colorShift5;
}

.colorShift6 {
  animation-name: colorShift6;
}

.colorShift7 {
  animation-name: colorShift7;
}

.colorShift8 {
  animation-name: colorShift8;
}

.colorShift9 {
  animation-name: colorShift9;
}

.colorShift10 {
  animation-name: colorShift10;
}

.colorShift11 {
  animation-name: colorShift11;
}

.colorShift12 {
  animation-name: colorShift12;
}

@keyframes colorShift1 {
  from {
    color: var(--full-sat-blue);
  }

  8% {
    color: var(--full-sat-cerulean);
  }

  17% {
    color: var(--full-sat-cyan);
  }

  25% {
    color: var(--full-sat-turquoise);
  }

  33% {
    color: var(--full-sat-green);
  }

  42% {
    color: var(--full-sat-lime);
  }

  50% {
    color: var(--full-sat-yellow);
  }

  58% {
    color: var(--full-sat-orange);
  }

  67% {
    color: var(--full-sat-red);
  }

  75% {
    color: var(--full-sat-rose);
  }

  83% {
    color: var(--full-sat-magenta);
  }

  92% {
    color: var(--full-sat-purple);
  }

  to {
    color: var(--full-sat-blue);
  }
}

@keyframes colorShift2 {
  from {
    color: var(--full-sat-cerulean);
  }

  8% {
    color: var(--full-sat-cyan);
  }

  17% {
    color: var(--full-sat-turquoise);
  }

  25% {
    color: var(--full-sat-green);
  }

  33% {
    color: var(--full-sat-lime);
  }

  42% {
    color: var(--full-sat-yellow);
  }

  50% {
    color: var(--full-sat-orange);
  }

  58% {
    color: var(--full-sat-red);
  }

  67% {
    color: var(--full-sat-rose);
  }

  75% {
    color: var(--full-sat-magenta);
  }

  83% {
    color: var(--full-sat-purple);
  }

  92% {
    color: var(--full-sat-blue);
  }

  to {
    color: var(--full-sat-cerulean);
  }
}

@keyframes colorShift3 {
  from {
    color: var(--full-sat-cyan);
  }

  8% {
    color: var(--full-sat-turquoise);
  }

  17% {
    color: var(--full-sat-green);
  }

  25% {
    color: var(--full-sat-lime);
  }

  33% {
    color: var(--full-sat-yellow);
  }

  42% {
    color: var(--full-sat-orange);
  }

  50% {
    color: var(--full-sat-red);
  }

  58% {
    color: var(--full-sat-rose);
  }

  67% {
    color: var(--full-sat-magenta);
  }

  75% {
    color: var(--full-sat-purple);
  }

  83% {
    color: var(--full-sat-blue);
  }

  92% {
    color: var(--full-sat-cerulean);
  }

  to {
    color: var(--full-sat-cyan);
  }
}

@keyframes colorShift4 {
  from {
    color: var(--full-sat-turquoise);
  }

  8% {
    color: var(--full-sat-green);
  }

  17% {
    color: var(--full-sat-lime);
  }

  25% {
    color: var(--full-sat-yellow);
  }

  33% {
    color: var(--full-sat-orange);
  }

  42% {
    color: var(--full-sat-red);
  }

  50% {
    color: var(--full-sat-rose);
  }

  58% {
    color: var(--full-sat-magenta);
  }

  67% {
    color: var(--full-sat-purple);
  }

  75% {
    color: var(--full-sat-blue);
  }

  83% {
    color: var(--full-sat-cerulean);
  }

  92% {
    color: var(--full-sat-cyan);
  }

  to {
    color: var(--full-sat-turquoise);
  }
}

@keyframes colorShift5 {
  from {
    color: var(--full-sat-green);
  }

  8% {
    color: var(--full-sat-lime);
  }

  17% {
    color: var(--full-sat-yellow);
  }

  25% {
    color: var(--full-sat-orange);
  }

  33% {
    color: var(--full-sat-red);
  }

  42% {
    color: var(--full-sat-rose);
  }

  50% {
    color: var(--full-sat-magenta);
  }

  58% {
    color: var(--full-sat-purple);
  }

  67% {
    color: var(--full-sat-blue);
  }

  75% {
    color: var(--full-sat-cerulean);
  }

  83% {
    color: var(--full-sat-cyan);
  }

  92% {
    color: var(--full-sat-turquoise);
  }

  to {
    color: var(--full-sat-green);
  }
}

@keyframes colorShift6 {
  from {
    color: var(--full-sat-lime);
  }

  8% {
    color: var(--full-sat-yellow);
  }

  17% {
    color: var(--full-sat-orange);
  }

  25% {
    color: var(--full-sat-red);
  }

  33% {
    color: var(--full-sat-rose);
  }

  42% {
    color: var(--full-sat-magenta);
  }

  50% {
    color: var(--full-sat-purple);
  }

  58% {
    color: var(--full-sat-blue);
  }

  67% {
    color: var(--full-sat-cerulean);
  }

  75% {
    color: var(--full-sat-cyan);
  }

  83% {
    color: var(--full-sat-turquoise);
  }

  92% {
    color: var(--full-sat-green);
  }

  to {
    color: var(--full-sat-lime);
  }
}

@keyframes colorShift7 {
  from {
    color: var(--full-sat-yellow);
  }

  8% {
    color: var(--full-sat-orange);
  }

  17% {
    color: var(--full-sat-red);
  }

  25% {
    color: var(--full-sat-rose);
  }

  33% {
    color: var(--full-sat-magenta);
  }

  42% {
    color: var(--full-sat-purple);
  }

  50% {
    color: var(--full-sat-blue);
  }

  58% {
    color: var(--full-sat-cerulean);
  }

  67% {
    color: var(--full-sat-cyan);
  }

  75% {
    color: var(--full-sat-turquoise);
  }

  83% {
    color: var(--full-sat-green);
  }

  92% {
    color: var(--full-sat-lime);
  }

  to {
    color: var(--full-sat-yellow);
  }
}

@keyframes colorShift8 {
  from {
    color: var(--full-sat-orange);
  }

  8% {
    color: var(--full-sat-red);
  }

  17% {
    color: var(--full-sat-rose);
  }

  25% {
    color: var(--full-sat-magenta);
  }

  33% {
    color: var(--full-sat-purple);
  }

  42% {
    color: var(--full-sat-blue);
  }

  50% {
    color: var(--full-sat-cerulean);
  }

  58% {
    color: var(--full-sat-cyan);
  }

  67% {
    color: var(--full-sat-turquoise);
  }

  75% {
    color: var(--full-sat-green);
  }

  83% {
    color: var(--full-sat-lime);
  }

  92% {
    color: var(--full-sat-yellow);
  }

  to {
    color: var(--full-sat-orange);
  }
}

@keyframes colorShift9 {
  from {
    color: var(--full-sat-red);
  }

  8% {
    color: var(--full-sat-rose);
  }

  17% {
    color: var(--full-sat-magenta);
  }

  25% {
    color: var(--full-sat-purple);
  }

  33% {
    color: var(--full-sat-blue);
  }

  42% {
    color: var(--full-sat-cerulean);
  }

  50% {
    color: var(--full-sat-cyan);
  }

  58% {
    color: var(--full-sat-turquoise);
  }

  67% {
    color: var(--full-sat-green);
  }

  75% {
    color: var(--full-sat-lime);
  }

  83% {
    color: var(--full-sat-yellow);
  }

  92% {
    color: var(--full-sat-orange);
  }

  to {
    color: var(--full-sat-red);
  }
}

@keyframes colorShift10 {
  from {
    color: var(--full-sat-rose);
  }

  8% {
    color: var(--full-sat-magenta);
  }

  17% {
    color: var(--full-sat-purple);
  }

  25% {
    color: var(--full-sat-blue);
  }

  33% {
    color: var(--full-sat-cerulean);
  }

  42% {
    color: var(--full-sat-cyan);
  }

  50% {
    color: var(--full-sat-turquoise);
  }

  58% {
    color: var(--full-sat-green);
  }

  67% {
    color: var(--full-sat-lime);
  }

  75% {
    color: var(--full-sat-yellow);
  }

  83% {
    color: var(--full-sat-orange);
  }

  92% {
    color: var(--full-sat-red);
  }

  to {
    color: var(--full-sat-rose);
  }
}

@keyframes colorShift11 {
  from {
    color: var(--full-sat-magenta);
  }

  8% {
    color: var(--full-sat-purple);
  }

  17% {
    color: var(--full-sat-blue);
  }

  25% {
    color: var(--full-sat-cerulean);
  }

  33% {
    color: var(--full-sat-cyan);
  }

  42% {
    color: var(--full-sat-turquoise);
  }

  50% {
    color: var(--full-sat-green);
  }

  58% {
    color: var(--full-sat-lime);
  }

  67% {
    color: var(--full-sat-yellow);
  }

  75% {
    color: var(--full-sat-orange);
  }

  83% {
    color: var(--full-sat-red);
  }

  92% {
    color: var(--full-sat-rose);
  }

  to {
    color: var(--full-sat-magenta);
  }
}

@keyframes colorShift12 {
  from {
    color: var(--full-sat-purple);
  }

  8% {
    color: var(--full-sat-blue);
  }

  17% {
    color: var(--full-sat-cerulean);
  }

  25% {
    color: var(--full-sat-cyan);
  }

  33% {
    color: var(--full-sat-turquoise);
  }

  42% {
    color: var(--full-sat-green);
  }

  50% {
    color: var(--full-sat-lime);
  }

  58% {
    color: var(--full-sat-yellow);
  }

  67% {
    color: var(--full-sat-orange);
  }

  75% {
    color: var(--full-sat-red);
  }

  83% {
    color: var(--full-sat-rose);
  }

  92% {
    color: var(--full-sat-magenta);
  }

  to {
    color: var(--full-sat-purple);
  }
}
